main.index {
    font-family: 'Roboto', sans-serif;
}

main.index h1, main.index h2 {
    margin-bottom: 1rem;
}

main.index h1, main.index h2, main.index h3 {
    font-family: 'Roboto', sans-serif;
}

.featured {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(672px, 1fr));
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.featured-item {
    height: 437px;
    padding: 1rem;
}

.item-title {
    font-size: 1.5em;
    text-align: center;
    padding-top: 1rem;
    margin: 0;
    font-weight: 700;
}

.item-info {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 0.9rem;
}

.featured-item-image {
    width: 100%;
    height: 338px;
    background-color: grey;
}

.featured-item-card {
    position: relative;
    width: 90%;
    margin: auto;
    min-height: 195px;
    top: -120px;
    background-color: #fff;
    padding: 0;
    overflow: hidden;
    color: #353535;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    border-radius: 0px;
}

.green-border {
    border: 2px solid rgba(106, 181, 69, 0.5);
}

.grey-border {
    border: 2px solid rgba(31,47,79, 0.5);
}

.featured-item-card-content {
    background-color: white;
    width: 400px;
    height: 193px;
    border-radius: 4px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.essential {
    padding: 1rem;
    background-color: #FAFCFF;
}

.essential-item-card h1 {
    margin-bottom: 1rem;
}

.essential-item-card {
    color: #353535;
}

.essential-icon {
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.recent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    justify-content: center;
    margin-bottom: 3rem;
}

.recent-item {
    padding: 1rem;
}

.recent-item h2, .recent-item p {
    text-align: left;
}

.recent-item-image {
    width: 100%;
    height: 100%;
}

.footnotes a {
    hyphens: auto;
}

footer {
    padding: 0;
    width: auto;
    max-width: 100%;
    color: white;
    clear: both;
    text-align: left;
}

footer .content h6 {
    color: white;
}

footer a:hover span {
    color: #A6D290;
}


footer span {
    color: white;
}

footer .divider {
    background-color: rgba(31,47,79,0.5);
    height: 2.5rem;
}

footer .content {
    background-color: rgba(31,47,79,0.8);
}

.recent-item a {
    color: #555;
    display: block;
    padding: 1rem 0;
}

.recent h2 {
    padding-top: 0px;
}

.section-title {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 700;
}

.essential-list.columns {
    margin-bottom: 0;
}

.recent .section-title {
    margin-bottom: -1rem;
}

@media only screen and (max-width: 768px) {
    .featured-item {
        margin-top: 1.5rem;
    }

    .recent {
        padding-left: 1rem;
    }
/*
    .recent-item-image {
        display: none;
    }
*/
    .recent h2, .recent p {
        text-align: center;
    }
}

@media only screen and (max-width: 1215px) {
    .recent {
        padding-right: 1rem;
    }

    .recent-item a {
        width: 100%;
    }

    .recent-item.tile {
        width: 100%;
    }

    .recent-item-content {
        height: auto;
    }
}
