<div class="featured-item">
    <a href="{{ .Page.Permalink }}">
        <img class="featured-item-image" src="{{ .Page.Params.Thumbnail}}" aria-hidden="true"></img>
        <div class=" featured-item-card {{ cond (eq .index 0) " green-border" "grey-border" }}">
            <h1 class="item-title">{{ .Page.Title }}</h1>
            <p class="item-info">
                {{- if .Page.Params.Author }}
                {{ .Page.Params.Author }}
                {{- else }}
                {{ .Page.Site.Author.name }}
                {{- end }}
                <br>
                <span class="lighter">
                    <time datetime="{{ .Page.PublishDate }}">
                        {{ i18n "publishdate" .Page }}
                    </time>
                </span>
            </p>
        </div>
    </a>
</div>