<footer>
    <div class="tile is-12 divider"></div>
    <div class="content">
        <div class="container" style="padding: 1rem">
            <img src="/logo-w.png"></img>

            <span>
                Red MMT Costa Rica es St Moritz global hub charming, Nordic Winkreative exquisite premium signature
                international Swiss punctual impeccable Muji Comme des Garçons. Liveable vibrant Comme des Garçons
                Helsinki. Exquisite ryokan elegant, soft power craftsmanship intricate Toto K-pop airport flat white.
                Hand-crafted eclectic Swiss, punctual finest Asia-Pacific Boeing 787 Tsutaya espresso Airbus A380 the
                best. ANA punctual craftsmanship, Muji bureaux intricate Porter Toto.
                <br>
                &copy; <time datetime="{{ now }}">{{ now.Format "2006" }}</time> {{ .Site.Author.name }}.
                {{ i18n "generator" | safeHTML }}
            </span>
        </div>
    </div>
</footer>
