{{ define "main" }}

<main class="index">
    {{ partial "index/introduction.html" . }}
    <div class="featured">
        <span style="font-weight: bold;">Destacados</span>
        <div class="featured-list">
            {{ range $index, $element := first 2 (where .Site.RegularPages "Section" "featured") }}
            {{ partial "featured.html" (dict "Page" . "index" $index) }}
            {{ end }}
        </div>
    </div>

    <div class="catalogue" style="display: flex; flex-wrap: wrap;">
        {{ range first 4 (.Site.RegularPages) }}
        {{ .Render "summary" }}
        {{ end }}
    </div>
</main>

{{ end }}
